@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* https://jameshfisher.com/2024/03/12/a-formula-for-responsive-font-size/?utm_source=tldrnewsletter */
  font-size: calc(1rem + 0.25vw);
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transition: background-image 0.5s;
}

header {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#loader {
  position: absolute;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
}

#loader > span {
  font-size: 2em;
  padding-left: 0.5em;
}

#surprise {
  height: 200px;
  padding-bottom: 1.5rem;
}

#surprise.showSurprise {
  display: flex;
  justify-content: center;
  width: 100%;
}

#surprise > img {
  clip-path: circle();
  width: 100%;
  height: 100%;
}

.imageWrap {
  filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.5));
}

#tempDiv {
  display: flex;
  gap: 2rem;
}

#temp {
  font-size: 5rem;
}

#tempDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#cityDetails {
  display: flex;
}

#idealResults {
  /* color: #ccc; */
  font-size: small;
  font-style: italic;
  padding-bottom: 0.75em;
  text-align: center;
}

.mainContent {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 15px;
  color: white;
}

footer {
  text-align: center;
  font-size: small;
  color: white;
  margin-top: auto;
  padding: 2em;
}

footer > a {
  color: white;
}
